services:
  app:
    build: .
    ports:
      - "5050:5050"
    environment:
      - PORT=5050
      - MONGO_DB_USERNAME=admin
      - MONGO_DB_PASSWORD=qwerty
      - MONGO_URL=mongodb://admin:qwerty@mongo:27017/Practice-db
    depends_on:
      - mongo

  mongo:
    image: mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: qwerty

  mongo-express:
    image: mongo-express
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: qwerty
      ME_CONFIG_MONGODB_URL: mongodb://admin:qwerty@mongo:27017/
